#banner
    .banner_content
        %h1 Document cloud
        %p All you documents on the cloud
        %button= link_to "Enter", new_user_registration_path
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Waistcoat stumptown kitsch, photo booth scenester kinfolk fanny pack meh tilde activated charcoal church-key. Everyday carry chia freegan chillwave, kale chips chicharrones wayfarers echo park selvage VHS pug. Distillery gochujang tattooed food truck vinyl, jianbing organic kitsch literally tilde small batch prism four loko truffaut. Cray subway tile small batch lomo, offal craft beer tacos 90's crucifix. Offal four loko stumptown listicle put a bird on it street art. Blue bottle man bun mlkshk iceland. Fingerstache listicle shoreditch, narwhal jean shorts forage keffiyeh pop-up keytar deep v brunch portland stumptown.
                
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path